@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
}
.font-monoton {
  font-family: Monoton;
}
.font-quicksand {
  font-family: Quicksand;
}
body {
  background: #5a3e3b;
}
